body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000F08;
}

#text {
    text-align: center;
    color: #95C623;
    font-size: 5vh;
}