.headingthingy {
    font-size: 10vw;
    background-color: purple;
    height: calc(100vh - 100px);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}