.wrapper {
    height: calc(100vh - 5vw);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDesc {
    color: #95C623;
    text-align: center;
    font-size: 3vw;
    width: 50vw;
}