body {
    overflow: hidden;
}
#wrapper {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 5vw);
    flex-direction: column;
}
.contact {
    color: #95C623;
    font-size: 3vw;
}
:any-link {
    color: #adf010;
}