* {
    cursor: crosshair;
}
body {
    margin: 0;
    background-color: black;
    background-image: linear-gradient(to bottom, black, #0E4749);
    height: 100%;
    width: 100%;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    top: 0;
    width: 100%;
    background-color: #000F08;
}

.navItem {
    width: calc(100vw/3);
    height: 100%;
    font-size: 5vw;
    border: none;
    background-color: #000F08;
    color: #95C623;
}

.navItem:hover {
    width: calc(100vw/3);
    height: 100%;
    font-size: 5vw;
    border: none;
    background-color: #95C623;
    color: #000F08;
    max-height: 100px;
}