.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    width: calc(100% - 4vw);
    height: calc(100vh - 100px);
    margin: 0;


}
.projectImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.projectDesc {
    color: #95C623;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    font-size: 6vw;
    margin: 0;
}